<mat-toolbar id="fixed" color="warn" [class.mat-elevation-z8]>
    <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>
    <a mat-button routerLink="home">Home</a>
    <div class="spacer"></div>
    <a *ngIf="!bejelentkezett" mat-flat-button color="accent" (click)="onLogin()">Bejelentkezés</a>
    <a *ngIf="bejelentkezett && vanProfilja && userdok">Helló, {{userdok.publicName}}!</a>
    <a *ngIf="bejelentkezett" mat-flat-button color="accent" (click)="onLogout()" >Kijelentkezés</a>
</mat-toolbar>
<router-outlet></router-outlet>
<app-profile [mutassa] = "bejelentkezett && !vanProfilja"></app-profile>
